body{
margin:0;
background:black;
color:white;
font-family:sans-serif;
text-align:center;
}

video{
width:100%;
height:60vh;
object-fit:cover;
}

.scoreboard{
position:absolute;
bottom:10px;
left:50%;
transform:translateX(-50%);
background:linear-gradient(90deg,#0f2027,#203a43,#2c5364);
padding:15px;
border-radius:10px;
width:420px;
}

.teams{
display:flex;
justify-content:space-between;
font-size:24px;
font-weight:bold;
}

#eventAnimation{
position:absolute;
top:40%;
left:50%;
transform:translate(-50%,-50%);
font-size:90px;
font-weight:bold;
display:none;
color:#ffd700;
}
